@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

@theme {
  --color-brand-orange: var(--store-primary);
  --color-brand-white: #FFFFFF;
  --color-brand-gray: #F8F9FA;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --store-primary: #FF6B00;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@keyframes pulse-red {

  0%,
  100% {
    border-color: rgb(239 68 68 / 0.2);
  }

  50% {
    border-color: rgb(239 68 68 / 1);
  }
}

.animate-pulse-red {
  animation: pulse-red 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}