@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

@theme {
  --color-brand-orange: var(--store-primary);
  --color-brand-white: #FFFFFF;
  --color-brand-gray: #F8F9FA;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --store-primary: #FF6B00;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}